.brief-pantry {
  width: 250px;
  height: 250px;
  padding: 25px;
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.brief-pantry__title {
  text-transform: uppercase;
}
.brief-pantry__stats {
  display: flex;
  flex-direction: column;
}
.brief-pantry__stats-element {
 text-align: left;
  margin: 0;

}
